@import url("https://webfontworld.github.io/gmarket/GmarketSans.css");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "GmarketSans";
  color: #333333;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

.container {
  width: 1280px;
  margin: 0 auto;
}
/* 클리어 픽스 */
.clearfix {
  zoom: 1;
}
.clearfix:after {
  clear: both;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  line-height: 0;
}
/* header */
#header {
  width: 100%;
}
.container .logo {
  float: left;
  width: 20%;
  padding-top: 50px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 6px;
}
.container .menu {
  float: right;
  width: 80%;
}
.menu1 {
  float: right;
  width: 45%;
  font-size: 14px;
  font-weight: 300;
  padding-top: 10px;
}
.menu1 > li {
  float: left;
}
.menu1 > li > a {
  width: 150px;
  line-height: 30px;
  text-align: center;
  padding-left: 17px;
}
.menu2 {
  float: left;
  width: 80%;
  font-size: 15px;
  font-weight: 300;
  padding-top: 10px;
}
.menu2 > li {
  float: left;
  width: 78px;
}
.menu2 > li > a {
  width: 100%;
  line-height: 80px;
  text-align: center;
}
.menu2 > li:last-child {
  width: 135px;
}
.menu2 > li > a:first-child {
  padding-left: 20px;
}
.icon_3 {
  float: right;
  width: 20%;
  padding-top: 10px;
}
.icon_3 > li {
  float: left;
  width: 30%;
}
.icon_3 > li > a {
  width: 100%;
  line-height: 80px;
  text-align: center;
}
.icon_3 > li > a:first-child {
  padding-left: 50px;
}

/* section1 */
#contents {
  text-align: center;
}
#section1 {
  width: 100%;
}
.slide {
  width: 100%;
}
.slide img {
  width: 100%;
  height: auto;
}
/* section2 */
#section2 {
  width: 100%;
}
.icon_btn {
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.icon_btn ul {
  align-items: center;
}
.icon_btn ul li {
  width: 9%;
  float: left;
  padding: 0.5%;
}
.icon_btn ul li img {
  width: 115px;
  height: auto;
}
.icon_btn li p {
  padding-top: 10px;
  text-align: center;
}

#section2 .container .banner {
  padding-bottom: 85px;
  width: 100%;
  float: left;
}
.banner img {
  width: 100%;
}
/* section3 */
#section3 {
  width: 100%;
}
.mealkit {
}
.mealkit > h2 {
  font-size: 32px;
  padding: 30px 30px 30px 0;
  text-align: left;
}
.mealkit h2 > span {
  font-size: 20px;
  font-weight: 400;
  padding-top: 90px;
  text-align: right;
  padding-left: 50px;
}
.kitimg_wrap {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
  float: left;
}

.kitimg {
  width: 100%;
  height: auto;
  padding-bottom: 20px;
  float: left;
}
.blur1 {
  position: absolute;
  top: 53%;
  left: -0.5%;
}
.blur2 {
  position: absolute;
  top: 53%;
  left: 80%;
}
.blur3 {
  position: absolute;
  top: 53%;
  left: -0.5%;
}
.blur4 {
  position: absolute;
  top: 53%;
  left: 80.5%;
}
.kit_1 {
  width: 49%;
  position: relative;
  float: left;
  margin-right: 2%;
}
.kit_2 {
  width: 49%;
  position: relative;
  float: left;
}
.kit_3 {
  width: 49%;
  position: relative;
  float: left;
  margin-right: 2%;
}
.kit_4 {
  width: 49%;
  position: relative;
  float: left;
}
.kit_t1 {
  position: absolute;
  font-size: 25px;
  color: #fff;
  top: 89%;
  left: 28%;
  z-index: 3;
}
.kit_t2 {
  position: absolute;
  font-size: 25px;
  color: #fff;
  top: 89%;
  left: 60%;
  z-index: 3;
}
.kit_t3 {
  position: absolute;
  font-size: 25px;
  color: #fff;
  top: 89%;
  left: 27%;
  z-index: 3;
}
.kit_t4 {
  position: absolute;
  font-size: 25px;
  color: #fff;
  top: 89%;
  left: 56%;
  z-index: 3;
}
/* section4 */
#section4 {
}
.todayfood {
  width: 100%;
}
.todayfood > h2 {
  padding-bottom: 20px;
  font-size: 25px;
  text-align: left;
}
.todayfood ul {
  width: 100%;
}
.todayfood ul li {
  width: 23.7%;
  float: left;
  padding: 0.65%;
}

.todayfood ul li img {
  width: 100%;
  height: auto;
}
.food_txt {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 7px;
  text-align: left;
}
.food_desc {
  font-size: 15px;
  text-align: left;
}
/* section5 */
#section5 {
}
.review {
  width: 100%;
  /* height: 590px; */
}
.review > h2 {
  margin-top: 100px;
  padding-bottom: 20px;
  font-size: 25px;
  text-align: left;
}
.review img {
  width: 100%;
}
.review1 {
  float: left;
  width: 23.7%;
  padding: 0.65%;
}
.review2 {
  float: left;
  width: 23.7%;
  padding: 0.65%;
}
.review3 {
  float: left;
  width: 23.7%;
  padding: 0.65%;
}
.review4 {
  float: left;
  width: 23.7%;
  padding: 0.65%;
}
.review_txt {
  font-size: 22px;
  line-height: 1.4;
  text-align: left;
}
.review_desc {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.4;
}
.date {
  font-size: 15px;
  color: #bbbb;
  line-height: 1.4;
  text-align: left;
}
/* section6 */
#section6 {
}
.howto {
  width: 100%;
  text-align: center;
}
.howto > h2 {
  padding-top: 500px;
  padding-bottom: 20px;
  font-size: 30px;
}
.howto > p {
  padding-bottom: 45px;
  font-size: 18px;
}
.ad1 {
}
.ad1 img {
  width: 48%;
  padding: 0.5%;
}
.ad2 {
  width: 100%;
  margin-top: 20px;
}
.ad2_1 {
  width: 32.3%;
  padding: 0.5%;
  position: relative;
  float: left;
}
.ad2_1 img {
  width: 100%;
}
.ad2_2 {
  width: 32.3%;
  padding: 0.5%;
  position: relative;
  float: left;
}
.ad2_2 img {
  width: 100%;
}
.ad2_3 {
  width: 32.3%;
  padding: 0.5%;
  position: relative;
  float: left;
}
.ad2_3 img {
  width: 100%;
}
.ad2_txt {
  font-size: 18px;
}
.ad2_txt span {
  font-size: 15px;
}
.ad2_1 .ad2_t1 {
  position: absolute;
  top: 40%;
  left: 40%;
  z-index: 2;
}
.ad2_2 .ad2_t2 {
  position: absolute;
  top: 35%;
  left: 40%;
  z-index: 2;

  text-align: left;
}
.ad2_3 .ad2_t3 {
  position: absolute;
  top: 35%;
  left: 40%;
  z-index: 2;

  text-align: left;
}
/* section7 */
#section7 {
}
.place {
  width: 100%;
  /* height: 455px; */
  text-align: center;
}
.place > h2 {
  font-size: 30px;
  padding-top: 200px;
  padding-bottom: 18px;
}
.place > p {
  font-size: 17px;
  padding-bottom: 40px;
}
.place img {
  float: left;
  width: 9.5%;
  /* height: 122px; */
  padding: 0.25%;
  padding-bottom: 10px;
}
.place ul {
  width: 100%;
}
.place ul > li {
  float: left;
  width: 9.5%;
  padding: 0.25%;
}
.place ul > li img {
  width: 100%;
}

/* footer */
#footer {
  margin-top: 200px;
  clear: both;
  height: 400px;
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  background-color: rgb(91, 89, 89);
}
#footer div ul li {
  color: #fff;
}
#footer div p {
  color: #fff;
}
#footer div span {
  color: #fff;
  font-size: 17px;
  padding-left: 2px;
}
.footer_top {
  width: 100%;
  height: 213px;
  padding-top: 40px;
  text-align: left;
}
.box1 {
  width: 20%;
  float: left;
}
.box1 > p {
  font-size: 24px;
  font-weight: 400;
}
.box2 {
  width: 20%;
  float: left;
}
.box3 {
  width: 20%;
  float: left;
}
.box4 {
  width: 20%;
  float: left;
}
.box4 img {
  padding-right: 10px;
}
.box5 {
  width: 20%;
  float: left;
}
.box5 ul li:nth-child(2) {
  font-size: 18px;
}
.footer_bottom {
  text-align: left;
}

@media (max-width: 1279px) {
  .container {
    width: 100%;
  }
  .logo {
    width: 100%;
    padding-bottom: 30px;
  }
  .logo a {
    padding-left: 10px;
  }
  .menu {
    width: 100%;
    text-align: center;
    position: relative;
  }
  .menu1 {
    width: 100%;
    padding-left: 10%;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  .menu1 li {
    width: 15%;
  }
  .menu2 {
    display: none;
  }
  .icon_3 {
    width: 100%;
    position: absolute;
    top: 30px;
    left: 0;
  }
  .icon_3 li {
    width: 33%;
  }
  .icon_3 > li > a:first-child {
    padding: 0;
  }
  .slide img {
    width: 100%;
    height: auto;
  }

  /* section2 */
  #section2 {
    width: 100%;
  }
  .icon_btn {
    width: 100%;
    text-align: center;
  }
  .icon_btn ul {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
  .icon_btn ul li {
    width: 19%;
    float: left;
  }
  .icon_btn img {
    width: 100%;
    height: auto;
  }
  .icon_btn li p {
    padding-top: 10px;
  }

  /* section3 */
  .kitimg_wrap {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
    float: left;
  }
  .blur1 {
    position: absolute;
    top: 0%;
    left: -0.5%;
  }
  .blur2 {
    position: absolute;
    top: 0%;

    left: 0%;
  }
  .blur3 {
    position: absolute;
    top: 0%;

    left: -0.5%;
  }
  .blur4 {
    position: absolute;
    top: 0%;

    left: 0%;
  }
  .kit_1 {
    width: 49%;
    position: relative;
    float: left;
    margin-right: 2%;
  }
  .kit_2 {
    width: 49%;
    position: relative;
    float: left;
  }
  .kit_3 {
    width: 49%;
    position: relative;
    float: left;
    margin-right: 2%;
  }
  .kit_4 {
    width: 49%;
    position: relative;
    float: left;
  }

  .kit_txt {
  }
  .kit_t1 {
    display: none;
  }
  .kit_t2 {
    display: none;
  }
  .kit_t3 {
    display: none;
  }
  .kit_t4 {
    display: none;
  }
}
@media (max-width: 1015px) {
  /* section2 */
  .icon_btn ul li {
    width: 24%;
    float: left;
  }
  .ad2_1 {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
  }
  .ad2_2 {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
  }
  .ad2_3 {
    width: 70%;
    padding-left: 15%;
    padding-right: 15%;
    text-align: center;
    margin-bottom: 100px;
  }
  .ad2_1 .ad2_t1 {
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: 2;
  }
  .ad2_2 .ad2_t2 {
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 2;
    text-align: left;
  }
  .ad2_3 .ad2_t3 {
    position: absolute;
    top: 35%;
    left: 45%;
    z-index: 2;
    text-align: left;
  }
}

@media (max-width: 860px) {
  .logo a {
    font-size: 25px;
  }
  .menu1 {
    width: 100%;
    padding-left: 10%;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
  }
  .menu1 li {
    width: 32%;
  }
  .icon_3 {
    width: 100%;
    position: absolute;
    top: 50px;
    left: 100px;
  }
  .icon_3 li {
    width: 28%;
  }
}
@media (max-width: 740px) {
}
@media (max-width: 627px) {
  .logo a {
    font-size: 20px;
    padding-left: 10px;
  }
  .menu1 {
    width: 100%;
    padding-left: 15%;
  }
  .menu1 li {
    width: 30%;
  }
  .menu1 li a {
    font-size: 12px;
  }
  .icon_3 {
  }

  /* section2 */
  .icon_btn ul li {
    width: 32%;
    float: left;
  }
}
@media (max-width: 595px) {
  .blur1 {
    display: none;
  }
  .blur2 {
    display: none;
  }
  .blur3 {
    display: none;
  }
  .blur4 {
    display: none;
  }
}
@media (max-width: 586px) {
  /* section6 */
  .ad2_1 {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }
  .ad2_2 {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
  }
  .ad2_3 {
    width: 90%;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
    margin-bottom: 100px;
  }
  /* section4 */
  .todayfood ul li {
    width: 48%;
    float: left;
    padding: 1%;
  }
  /* section5 */
  .review1 {
    float: left;
    width: 48%;
    padding: 1%;
  }
  .review2 {
    float: left;
    width: 48%;
    padding: 1%;
  }
  .review3 {
    float: left;
    width: 48%;
    padding: 1%;
  }
  .review4 {
    float: left;
    width: 48%;
    padding: 1%;
  }
}
