@import url("https://webfontworld.github.io/gmarket/GmarketSans.css");
* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "GmarketSans";
  color: #333333;
}

body {
  width: 100%;
  height: auto;
  overflow-x: hidden;
}
a {
  text-decoration: none;
}

.container {
  width: 1280px;
  margin: 0 auto;
}
/* 클리어 픽스 */
.clearfix {
  zoom: 1;
}

.clearfix::before,
.clearfix::after {
  content: "";
  display: block;
  line-height: 0;
}
/* header */
#header {
  width: 100%;
  height: 110px;
}
.container .logo {
  float: left;
  width: 25%;
  height: 60px;
  padding-top: 50px;
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 6px;
}
.logo a {
}
.container .menu {
  float: right;
  width: 75%;
  height: 110px;
  /* padding: 10px; */
}
.menu1 {
  float: right;
  width: 45%;
  height: 30px;
  font-size: 14px;
  font-weight: 300;
  padding-top: 10px;
}
.menu1 > li {
  float: left;
}
.menu1 > li > a {
  width: 150px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding-left: 17px;
}
.menu2 {
  float: left;
  width: 80%;
  height: 60px;
  font-size: 15px;
  font-weight: 300;
  padding-top: 10px;
}
.menu2 > li {
  float: left;
  width: 78px;
}
.menu2 > li > a {
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.menu2 > li:last-child {
  width: 135px;
}
.menu2 > li > a:first-child {
  padding-left: 20px;
}
.icon_3 {
  float: right;
  width: 20%;
  height: 70px;
  padding-top: 10px;
}
.icon_3 > li {
  float: left;
  width: 30%;
}
.icon_3 > li > a {
  width: 100%;
  height: 80px;
  line-height: 80px;
  text-align: center;
}
.icon_3 > li > a:first-child {
  padding-left: 50px;
}

/* section1 */
#contents {
  text-align: center;
}
#section1 {
  width: 100%;
  height: 490px;
}
.slide {
  width: 100%;
  height: 490px;
}
.slide img {
  width: 100%;
}
/* section2 */
#section2 {
  width: 100%;
  height: 400px;
}
.icon_btn {
  width: 100%;
  height: 400px;
  padding-top: 60px;
  text-align: center;
}
.icon_btn ul {
  height: 400px;
  align-items: center;
}
.icon_btn ul li { 
  float: left;
  padding: 5px;}

/* .icon_btn li:last-child {
  padding: 0;
} */
.icon_btn li p {
  padding-top: 10px;
}

.banner {
  width: 100%;
  height: 70px;
  float: left;
}
.banner img {
  width: 100%;
}
/* section3 */
#section3 {
  width: 100%;
  height: 920px;
}
.mealkit {
}
.mealkit > h2 {
  font-size: 32px;
  margin-top: 84px;
  padding: 30px 30px 30px 0;
  text-align: left;
}
.mealkit h2 > span {
  font-size: 20px;
  font-weight: 400;
  padding-top: 90px;
  text-align: right;
  padding-left: 50px;
}
.kitimg_wrap {
  width: 100%;
  height: 384px;
  margin-bottom: 20px;
  float: left;
}

.kitimg {
  /* margin-bottom: 20px; */
  width: 630px;
  height: 378px;
  padding-bottom: 20px;
  float: left;
}
.blur1 {
  position: absolute;
  top: 210px;
  left: -1px;
}
.blur2 {
  position: absolute;
  top: 210px;
  left: 503px;
}
.blur3 {
  position: absolute;
  top: 210px;
  left: -1px;
}
.blur4 {
  position: absolute;
  top: 210px;
  left: 506px;
}
.kit_1 {
  width: 49%;
  position: relative;
  float: left;
  margin-right: 2%;
}
.kit_2 {
  width: 49%;
  position: relative;
  float: left;
}
.kit_3 {
  width: 49%;
  position: relative;
  float: left;
  margin-right: 2%;
}
.kit_4 {
  width: 49%;
  position: relative;
  float: left;
}

.kit_txt {
}
.kit_t1 {
  position: absolute;
  font-size: 25px;
  color: #fff;
  top: 350px;
  left: 180px;
  z-index: 3;
}
.kit_t2 {
  position: absolute;
  font-size: 25px;
  color: #fff;
  top: 350px;
  left: 375px;
  z-index: 3;
}
.kit_t3 {
  position: absolute;
  font-size: 25px;
  color: #fff;
  top: 350px;
  left: 170px;
  z-index: 3;
}
.kit_t4 {
  position: absolute;
  font-size: 25px;
  color: #fff;
  top: 350px;
  left: 350px;
  z-index: 3;
}

/* .mealkit img:first-child {
    padding-right: 15px;
}
.mealkit img:last-child {
    padding-left: 15px;
} */
/* section4 */
#section4 {
}
.todayfood {
  width: 100%;
  height: 495px;
}
.todayfood > h2 {
 padding-top: 100px;
  padding-bottom: 20px;
  font-size: 25px;
  text-align: left;
}
.todayfood ul{
  width: 100%;
}
.todayfood ul li {
  width: 23.7%;
  float: left;
  padding: 7px;
}
/* .todayfood .food2 {
  float: left;
  padding: 7px;
}
.todayfood .food3 {
  float: left;
  padding: 7px;
}
.todayfood .food4 {
  float: left;
  padding: 7px;
} */
.todayfood ul li img {
 width: 100%;
 height: auto;
}
.food_txt {
  font-size: 20px;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 7px;
  text-align: left;
}
.food_desc {
  font-size: 15px;
  text-align: left;
}
/* section5 */
#section5 {
}
.review {
  width: 100%;
  height: 590px;
}
.review > h2 {
margin-top: 100px;
  padding-bottom: 20px;
  font-size: 25px;
  text-align: left;
}
.review img {
  width: 306px;
  height: 306px;
}
.review1 {
  float: left;
  width: 306px;
  padding: 7px;
}
.review2 {
  float: left;
  width: 306px;
  padding: 7px;
}
.review3 {
  float: left;
  width: 306px;
  padding: 7px;
}
.review4 {
  float: left;
  width: 306px;
  padding: 7px;
}
.review_txt {
  font-size: 22px;
  line-height: 1.4;
  text-align: left;
}
.review_desc {
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  line-height: 1.4;
}
.date {
  font-size: 15px;
  color: #bbbb;
  line-height: 1.4;
  text-align: left;
}
/* section6 */
#section6 {
}
.howto {
  width: 100%;
  height: 735px;
  text-align: center;
}
.howto > h2 {
  padding-top: 110px;
  padding-bottom: 20px;
  font-size: 30px;
}
.howto > p {
  padding-bottom: 45px;
  font-size: 18px;
}
.ad1 {
}
.ad1 img {
  width: 630px;
  height: 355px;
  padding: 3.6px;
}
.ad2 {
  margin-top: 20px;
}
.ad2_1 {
  position: relative;
  float: left;
  padding-right: 20px;
}
.ad2_1 img {
  width: 413px;
  height: 120px;
}
.ad2_2 {
  position: relative;
  float: left;
  padding-right: 20px;
}
.ad2_2 img {
  width: 413px;
  height: 120px;
}
.ad2_3 {
  position: relative;
  float: left;
}
.ad2_3 img {
  width: 413px;
  height: 120px;
}
.ad2_txt {
  font-size: 18px;
}
.ad2_txt span {
  font-size: 15px;
}
.ad2_1 .ad2_t1 {
  position: absolute;
  top: 60px;
  left: 170px;
  z-index: 2;
}
.ad2_2 .ad2_t2 {
  position: absolute;
  top: 50px;
  left: 170px;
  z-index: 2;

  text-align: left;
}
.ad2_3 .ad2_t3 {
  position: absolute;
  top: 50px;
  left: 170px;
  z-index: 2;

  text-align: left;
}
/* section7 */
#section7 {
}
.place {
  width: 100%;
  height: 455px;
  text-align: center;
}
.place > h2 {
  font-size: 30px;
  padding-top: 150px;
  padding-bottom: 18px;
}
.place > p {
  font-size: 17px;
  padding-bottom: 40px;
}
.place img {
  float: left;
  width: 122px;
  height: 122px;
  padding: 3px;
  padding-bottom: 10px;
}
.place1 {
  float: left;
}
.place2 {
  float: left;
}
.place3 {
  float: left;
}
.place4 {
  float: left;
}
.place5 {
  float: left;
}
.place6 {
  float: left;
}
.place7 {
  float: left;
}
.place8 {
  float: left;
}
.place9 {
  float: left;
}
.place10 {
  float: left;
}

/* footer */
#footer {
  clear: both;
  height: 400px;
  font-size: 12px;
  font-weight: 300;
  line-height: 2;
  background-color: rgb(91, 89, 89);
}
#footer div ul li {
  color: #fff;
}
#footer div p {
  color: #fff;
}
#footer div span {
  color: #fff;
  font-size: 17px;
  padding-left: 2px;
}
.footer_top {
  width: 100%;
  height: 213px;
  padding-top: 40px;
  text-align: left;
}
.box1 {
  width: 20%;
  float: left;
}
.box1 > p {
  font-size: 24px;
  font-weight: 400;
}
.box2 {
  width: 20%;
  float: left;
}
.box3 {
  width: 20%;
  float: left;
}
.box4 {
  width: 20%;
  float: left;
}
.box4 img {
  padding-right: 10px;
}
.box5 {
  width: 20%;
  float: left;
}
.box5 ul li:nth-child(2) {
  font-size: 18px;
}
.footer_bottom {
  text-align: left;
}

@media (max-width: 1200px) {
  .container {
    width: 98%;
    height: auto;
  }
  .logo {
    width: 20%;
  }
  .logo a {
    margin-left: 20px;
  }
  .menu {
    width: 100%;
  }
  .menu1 {
    width: 100%;
    align-items: center;
  }
  .menu1 li{
    width: 15%;
  }
  .menu2 {
    display: none;
  }
  .icon_3 {
    width: 100%;
    align-items: center;
  }
  .icon_3 li {
    width: 33.3%;
  }
  .slide img {
    width: 100%;
    height: auto;
  }

  /* section2 */
  #section2 {
    width: 100%;
  height: auto;
    text-align: center;
  }
  .icon_btn {
    width: 100%;
    text-align: center;
  }
  .icon_btn img{
    width: 100%;
    height: auto;
  }
  .icon_btn ul {
   width: 100%;
  margin-left: auto;
  margin-right: auto;
  }
  .icon_btn ul li {
    float: left;
   margin: 0 50px 0;
  }
  
  .icon_btn li p {
    padding-top: 10px;
  }
  .banner {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* section3 */
  #section{
    height: auto;
  }
  .container{
    height: auto;
  }
  .mealkit{
    height: auto;
  }
  .mealkit > h2 {
 padding: 0 0 30px 30px;
  }
  .mealkit>span {
    padding: 0;
  }
  .kitimg_wrap{
    width: 100%;
    height: auto;
  }

.kit_t1{
  position: absolute;
  top: 0;left: 0;
}
.kit_t2{
  position: absolute;
  top: 0;left: 0;

}
.kit_t3{
  position: absolute;
  top: 0;left: 0;

}
.kit_t4{
  position: absolute;
  top: 0;left: 0;

}

.kitimg{
 max-width:100%;
 height: auto;
}

.blur1, .blur2, .blur3, .blur4{
  display: none;
}
/* section4 */
#section4{
  width: 100%;
  height: 495px;
}
 .todayfood > h2 {

    padding-left: 30px;
  }
  .todayfood{
    align-items: center;
  }
  .todayfood ul{
       height: auto;
  }
.food1, 
.food2,
.food3, 
.food4{
    width: 26%;

}
.todayfood img{
  width: 100%;
  height: auto;
}

/* section5 */
#section5{
  width: 100%;
  height: 500px;
}
.review> h2{
 
    padding-left: 30px;
}
.review{
  align-items: center;

}
.review ul{
     height: auto;
}
.review1, 
.review2,
.review3, 
.review4{
width: 23.7%;
}
.review img{
  width: 100%;
  height: auto;
}

/* section6 */
#section6{
  width: 100%;
  height: 1200px;
}
.howto{
     height: auto;
}
.ad2{
  width: 100%;
  align-items: center;
}
.ad2_1,
.ad2_2,
.ad2_3{
 width: 31%;
 
}
/* section7 */

.place>ul{align-items: center;}
.place>ul>li{
  padding: 50px;
}
#footer{
  padding-left: 30px;
}
}





@media (max-width: 1024px) {
   .container {
    width: 98%;
    height: auto;
  }
  /* section2 */
 #section2 {
    width: 100%;
    height: 400px;
    /* text-align: center; */
  }
  .container{
    height: 400px;
  }
  .icon_btn {
    width: 100%;
     height: 400px;
 
  }
   .icon_btn ul{
   width: 100%;
  margin-left: auto;
  margin-right: auto;
   }
 .icon_btn ul li{
 margin: 0 30px 0;
}
  .banner {
   padding: 0 0 50px 0;
  }
  /* section3 */
  .kitimg_wrap {
    width: 100%;
    height: auto;
  }
  /*section4 */
  #section{
  width: 100%;
 height: auto;

  }
.todayfood >h2{
  padding: 0 0 0 30px;
}
.todayfood{
  width: 100%;
 height: auto;
}
.todayfood img{
  width: 100%;
  height: auto;
}
.todayfood ul{
 width: 100%;
 height: auto;

}
.todayfood ul li{
width: 23.5%;
}

  /* section5 */
#section5{
width: 100%;
height: auto;
}
.review> h2{
   padding-top: 30px;
    padding-left: 30px;
}
.review{
  width: 100%;
  align-items: center;

}
.review1, 
.review2,
.review3, 
.review4{
width: 23.3%;
}
.review img{
  width: 100%;
  height: auto;
}

/* section7 */

.place>ul{
  padding-left: 80px;
 text-align: center;
}
.place>ul>li{
  padding: 15px;
}

}

/* @media (max-width: 960px) {
  .container {
    width: 100%;
  }
  #section2 {
    width: 100%;
    height: 900px;
  }
} */
@media (max-width: 768px) {
  .container {
    width: 98%;
    height: auto;
  }
}



@media (max-width: 576px) {
  .container {
    width: 98%;
    height: auto;
  }
}
