.banner__inner {
  background-image: url(../img/banner_bg01.jpg);
}
.banner__inner .desc {
}
.banner__inner .desc a {
}
.banner__inner .desc a:hover {
}
.banner__inner {
}
.banner__inner {
}

@media (max-width: 960px) {
  .banner__inner {
    padding: 100px 0;
  }
}
@media (max-width: 600px) {
  .banner__inner {
    padding: 80px 0;
  }
  .banner__inner .title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  .banner__inner .desc {
    font-size: 16px;
    margin-bottom: 40px;
  }
}
