<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        #wrap {
            width: 1920px;
            margin: 0 auto;
        }
        #header {
            width:         ;
        }
        #nav {}
        #footer {}
    </style>
</head>
<body>
    <div id="wrap">
        <div id="header">
            <div class="box1"></div>
        
        </div>
        <div id="nav">
            <div class="nav1"></div>
          
        </div>
        <div id="section">
            <div class="section1"></div> 
          
        </div>
        <div id="footer">
            <div class="footer1"></div>
          
        </div>
    </div>
</body>
</html>