.container {
  margin-bottom: 50px;
}
.footer__menu {
  display: flex;
}
.footer__menu > div {
  width: 16%;
}
.footer__menu h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 500;
}
.footer__menu li a {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
  display: block;
}
.footer__right {
  text-align: center;
  padding-top: 40px;
}
@media (max-width: 960px) {
  .footer__menu {
    display: none;
  }
  .footer__right {
    padding-top: 0;
    border-top: 0;
  }
  .footer__wrap {
    padding: 40px 0;
  }
}
